* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    margin: auto;
}

#teeSheetCreation {
    background-color: lightgray;
    margin: auto;
    padding: 12px;
    width: 82%;
}

select {
    margin-right: 36px;
    border: none;
    border-bottom: 1px solid #0d4b0f;
}

#insert {
    background-color: lightgrey;
    margin: auto;
    padding: 12px;
    width: 82%;
}

#main {
    column-gap: 24px;
    display: flex;
    margin: auto;
    width: 84%;
}

#teeTable {
    border: 1px solid #0d4b0f;
    border-collapse: collapse;
    float: left;
    padding: 24px;
    width: 65%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

#notes {
    background-color: white;
    border: 1px solid #0d4b0f;
    float: right;
    padding: 24px;
    width: 30%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    font-size: 12px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

th {
    background-color: #0d4b0f;
    color: white;
}

#headerTitle {
    color: white;
    font-size: 18px;
}

#teeTableTitle {
    font-size: 24px;
}

#notesTitle {
    font-size: 24px;
}

#notesBody {
    color: gray;
    font-style: italic;
    font-size: 12px;
}

#notesTextArea {
    resize: none;
    font-size: 12px;
}

#header {
    background-color: #0d4b0f;
    padding: 6px;
    width: 100%;
}

button {
    border: none;
    padding: 12px;
    font-size: 12px;
}

#createButton {
    background-color: white;
    color: black;
    margin-right: 36px;
}

#createButton:hover {
    background-color: #0d4b0f;
    color: white;
}

#insertButton {
    background-color: white;
    color: black;
    margin-right: 36px;
}

#insertButton:hover {
    background-color: #0d4b0f;
    color: white;
}

#notesButton{
    background-color: lightgray;
    color: black;
}

#notesButton:hover{
    background-color: #0d4b0f;
    color: white;
}

#bookerInput {
    margin-right: 36px;
    border: none;
    border-bottom: 1px solid #0d4b0f;
}