/* 
WHITE -      #FFFFFF
GREY -       #DBEDE1
GREEN -      #04AA6D
BLACK -      #041025
*/

* {
    font-family: 'Trebuchet MS', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    margin: auto;
}

button {
    border: none;
    padding: 12px;
    font-size: 12px;
    font-style: bold;
}

select {
    margin-right: 36px;
    border: none;
    border-bottom: 2px solid #04AA6D;
    color: #041025;
}

label {
    color: #041025;
    font-size: 12px;
    font-style: italic;
}

/* header section */
#header {
    background-color: #04AA6D;
    width: 100%;
}

#headerTitle {
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding-left: 126px;
    padding-bottom: 12px;
    padding-top: 12px;
    font-family: Garamond, serif;
}



/* tee sheet creation section */
#teeSheetCreation {
    background-color: #DBEDE1;
    margin: auto;
    padding: 12px;
    width: 82%;
}

#createButton {
    background-color: white;
    border: 1px solid #041025;
    border-radius: 50%;
    color: #041025;
    font-size: 12px;
    padding: 6px;
    height: 36px;
    width: 36px;
    transition: 0.12s;
    margin-right: 36px;
}

#createButton:hover {
    background-color: #041025;
    color: white;
}



/* book tee time section */
#insert {
    background-color: #DBEDE1;
    margin: auto;
    padding: 12px;
    width: 82%;
}

#insertButton {
    background-color: white;
    border: 1px solid #041025;
    border-radius: 50%;
    color: #041025;
    font-size: 12px;
    padding: 6px;
    height: 36px;
    width: 36px;
    transition: 0.12s;
    margin-right: 36px;
}

#insertButton:hover {
    background-color: #041025;
    color: white;
}

#bookerInput {
    margin-right: 36px;
    border: none;
    border-bottom: 1px solid #04AA6D;
    color: #041025;
}



/* main section */
#main {
    column-gap: 24px;
    display: flex;
    margin: auto;
    width: 84%;
}



/* tee table section */
#teeTable {
    border: 1px solid #04AA6D;
    border-collapse: collapse;
    float: left;
    padding: 24px;
    width: 65%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

#teeTableTitle {
    color: #041025;
    font-size: 30px;
    font-family: Garamond, serif;
    font-weight: bold;
    padding-top: 24px;
}

th, td {
    font-size: 16px;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

th {
    background-color: #04AA6D;
    color: white;
}



/* notes section */
#notes {
    background-color: white;
    border: 1px solid #04AA6D;
    float: right;
    padding: 24px;
    width: 30%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

#notesTitle {
    color: #041025;
    font-size: 30px;
    font-family: Garamond, serif;
    font-weight: bold;
    padding-top: 24px;
}

#notesBody {
    color: #DBEDE1;
    font-size: 16px;
    font-style: bold, italic;
}

#notesTextArea {
    color: #041025;
    font-size: 12px;
    resize: none;
}

#notesButton{
    background-color: white;
    border: 1px solid #041025;
    border-radius: 50%;
    color: #041025;
    font-size: 12px;
    padding: 6px;
    height: 36px;
    width: 36px;
    transition: 0.12s
}

#notesButton:hover{
    background-color: #041025;
    color: white;
}