* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    margin: auto;
}

#main {
    display: flex;
}

#teeTable {
    width: 64%;
    border-collapse: collapse;
    background-color: lightgrey;
    float: left;
}

#notes {
    width: 36%;
    background-color: white;
    border: 1px solid #4CAF50;
    float: right;
}

table, th, td {
    border: 1px solid #4CAF50;
}

th, td {
    padding: 8px;
    text-align: center;
}